<!DOCTYPE html>
	<html>
		<head>
			<title>Dutch Suits</title>
			<!--<meta http-equiv="refresh" content="10">-->
			<link rel="stylesheet" type='text/css' href="../static/CSS/scroll_site_suit_style.css">
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
			<meta name="description" content="Custom suits for young professionals.">
			<meta name="keywords" content="Suits, 'custom suits'">
		</head>
		<body>
			<div class='main-container'>
				<div class='fabric-background' style="background-image: url('../static/images/navy_suit_folds.jpg');">
					<div class='headline'>We craft beautiful suits.</div>
					<div class='scroll-link'><a href="#about">Learn how.</a></div>
				</div>
				<div class="topnav">
					<a class = "title" href="#">Dutch.</a>
					<div class='navlinks'>
						<a href="#">About</a>
						<a href="#"><span style="white-space: nowrap;">Pre-Order</span></a>
					</div>
				</div>
				<div class="line" id="navborder"></div>
				<div class="line"></div>
				<div class="content">
					<div class="content-block" id='about' style="background-image: url('../static/images/wood_texture_2.jpg');">
						<div class="backdrop">
							<div class="textbox">
								<p>
									You send us a few simple measurements.
									<br><br> 
									We send you a custom fitted suit, tailored to your body.
									<br><br>
									<a href="#signup">Sign up to our pre-order list and receive our navy suit for $199.</a>
								</p>
							</div>
							<div class="image" style="background-image: url('../static/images/navy_suit_1.jpg');"></div>
						</div>
					</div>
					<div class="content-block" id='signup' style="background-image: url('../static/images/wood_texture_2.jpg');">
						<div class="backdrop">
							<div class="image" style="background-image: url('../static/images/grey_suit_1.jpg');"></div>
							<div class='form'>
						
								<form action="#">
									<p>Enter your email below to receive our offer for a 100% wool navy suit:</p>
									<input type="name" placeholder='First Name'>
									<input type="email" placeholder='Email Address'>
									<input type="submit">
								</form>
							</div>
							
						</div>
					</div>
				</div>
			</div>
		</body>
	</html>